hpsklearn @ git+https://github.com/hyperopt/hyperopt-sklearn@4b3f6fde3a1ded2e71e8373d52c1b51a0239ef91
hyperopt~=0.2
matplotlib~=3.7
numpy~=1.25
pandas~=2.0
scikit_learn~=1.3
scipy~=1.11
seaborn~=0.12
TPOT~=0.12
xgboost~=1.7
